.coffee{
    padding-top: 30px;
    padding-left: 15%;
    letter-spacing: 2px;
}

.coffee h2{
    padding-bottom: 10px;
}

.coffee ul{
    list-style: none;
    padding-right: 50px;
}

.coffee li {
    padding: 10px;
    font-weight: 300;
    width: 200px;
}

.coffee li:hover{
    color: #ffffff;
}

.coffeeG{
    display: flex;
}


@media(max-width:1024px){
    .coffee{
        padding-top: 30px;
        padding-left: 15%;
    }

    .coffeeG{
        flex-direction: column;
    }
}

@media(max-width:600px){
    .coffee li{
        padding: 0;
    }
}